doctype html
html(ng-app="app")
    | <#include "/mixin.ftl" />
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Config Server
        base(href="${ContextPath}/")
        link(href="${Assets}/webjars/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
        link(href="${Assets}/webjars/gentelella/1.4.0/build/css/custom.min.css", rel="stylesheet")
        link(href="${Assets}/webjars/angular-ui-notification/0.3.6/dist/angular-ui-notification.css", rel="stylesheet")
    body.nav-md.footer_fixed.top_nav_fixed(ng-controller="IndexCtrl")
        .container.body
            .nav_menu
                nav
                    .pull-left
                        span.slogen API Plus
                        p(ng-bind="'欢迎您，' + User.username")
                    ui.nav.navbar-top-links.navbar-right
                        li(uib-dropdown)
                            a.span-pointer.dropdown-toggle(uib-dropdown-toggle, aria-haspopup="true", aria-expanded="false")
                                i.glyphicon.glyphicon-user(style="color:#fff;")
                                | &nbsp;
                                i.glyphicon.glyphicon-menu-down(style="color:#fff;")
                            ul.dropdown-menu.dropdown-usermenu.pull-right(uib-dropdown-menu, style="z-index:9999;")
                                li
                                    a.black(ng-click="information()")
                                        i.fa.fa-user.fa-fw
                                        | 个人资料
                                li
                                    a.hand.black(ng-click="profile()")
                                        i.iconfont.icon-key
                                        | 修改密码
                                li.divider
                                li
                                    a.hand.black(ng-click="logout()")
                                        i.iconfont.icon-tuichu
                                        | 退出



            .main_container
                .left_col
                    .main_menu_side
                        .menu_section
                            ul.nav.side-menu
                                li
                                    a
                                        i.iconfont.icon-shuju
                                        | 项目管理
                                    ul.nav.child_menu
                                        li(ui-sref-active="active")

                                            a(ui-sref="project-list", ui-sref-opts="{reload: true}") 项目

                .right_col
                    ui-view


        script.
            var Context = '${ContextPath}';
            var Assets = '${Assets}';
        script(src="${Assets}/webjars/angular/1.6.6/angular.min.js")
        script(src="${Assets}/webjars/angular-spinner/0.8.1/angular-spinner.min.js")
        script(src="${Assets}/webjars/angular-resource/1.6.6/angular-resource.min.js")
        script(src="${Assets}/webjars/jquery/2.2.4/dist/jquery.min.js")
        script(src="${Assets}/webjars/angular-ui-bootstrap-bower/2.1.3/ui-bootstrap-tpls.min.js")
        script(src="${Assets}/webjars/angular-ui-router/1.0.8/release/angular-ui-router.min.js")
        script(src="${Assets}/webjars/oclazyload/1.1.0/dist/ocLazyLoad.min.js")
        script(src="${Assets}/webjars/angular-ui-notification/0.3.6/dist/angular-ui-notification.js")
        script(src="${Assets}/assets/js/admin.js?version=#{VERSION}#")